# Task1
Write a Python program to add an item to a tuple.

In [4]:
my_tuple =(1,2,3,4,5,6)
my_tuple = my_tuple + (7,)
print(my_tuple)

#or
my_tuplee = (1,2,3,4,5,6)
listed_tuple = list(my_tuplee)
listed_tuple.append(7)
print(listed_tuple)
#now print it as tuple
modified_tuple_from_list = tuple(listed_tuple)
print(modified_tuple_from_list)

(1, 2, 3, 4, 5, 6, 7)
[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6, 7)

# Task2
Write a Python program to sum all the items in a list.

In [6]:
sum = 0
my_list1 = [1,2,3,4,5]
for i in my_list1:
  sum+= i
print(sum)

15

# Task3
Write a Python program to multiply all the items in a list.

In [12]:
multiplication= 1
my_list1 = [1,2,3,4,5]
for i in my_list1:
  multiplication*= i
print(multiplication)

120

# Task4
Write a Python program to get the smallest number from a list.

In [16]:

my_list1 = [1,2,3,4,5]
smallest_number= my_list1[3]
for num in my_list1:
  if num < smallest_number:
    smallest_number= num
print(smallest_number)

1

# Task5
Write a Python program to get the largest number from a list.

In [17]:

my_list1 = [1,2,3,4,5]
largest_number= my_list1[3]
for num in my_list1:
  if num > largest_number:
    largest_number= num
print(largest_number)

5

# Task6
Write a Python program to count the number of strings from a given list of
strings.

In [25]:
my_list2 = ["abc","def","zxc"]
count = 0
for item in my_list2:
  if isinstance(item, str):
    count += 1

print(count)

3

# Task7
Write a Python program to clone or copy a list

In [30]:
my_list3 = my_list2[:len(my_list2)]
print(my_list3)

['abc', 'def', 'zxc']

# Task8
Write a Python program to remove item(s) from a given set.

s = set([0, 1, 3, 4, 5])

In [43]:
s = set([0, 1, 3, 4, 5])
s.remove(5)
print(s)
#or to remove item(s)
s = set([0, 1, 3, 4, 5])
s= list(s)
print(s)
for item in s:
  s.remove(item)
  print(s)

{0, 1, 3, 4}
[0, 1, 3, 4, 5]
[1, 3, 4, 5]
[1, 4, 5]
[1, 4]

# Task9
Write a Python program to find the maximum and minimum values in a set.

In [47]:
s = set([0, 1, 3, 4, 5])
minimum_s = min(s)
maximum_s =max(s)
print(f"set Maximum is {maximum_s} and minimum is {minimum_s}")

set Maximum is 5 and minimum is 0

# Task10
Write a Python program to convert a tuple to a dictionary.

In [53]:
my_tuple = (1, 2, 3, 4, 5, 6)
dictionary_tuple = dict(enumerate(my_tuple))
print(dictionary_tuple)
# i can't find any other way...

<enumerate object at 0x7dee693f3a00>
{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

# Task11
Write a Python program to reverse a tuple.

In [58]:
my_tuple = (1, 2, 3, 4, 5, 6)
listed_tuple = list(my_tuple)
listed_tuple.reverse()
print(listed_tuple)
reversed = tuple(listed_tuple)
print(reversed)


#or
my_tuple2= ()
my_tuple2= my_tuple[::-1]
print(my_tuple2)

[6, 5, 4, 3, 2, 1]
(6, 5, 4, 3, 2, 1)
(6, 5, 4, 3, 2, 1)

# Task12
Write a Python program to convert a list of tuples into a dictionary

In [62]:
list_of_tuples = [('a', 1), ('b', 2), ('c', 3)]
result_dict = {}
for key, value in list_of_tuples:
  result_dict[key] = value
print(result_dict)
print(type(result_dict))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

# Task13
Write a Python program to replace the last value of tuples in a list.

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [68]:
sample_list =[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(sample_list)):
  num = sample_list[i]
  sample_list[i]= num[0:2]+(100,)
print(sample_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

# Task14
Remove the illegal characters in the variable name:

var_name = "%%6student_name$^$%#"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

output is "student_name"

In [69]:


var_name = "%%6student_name ^ %#"
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\;:'\",.<>/?~"
joined_var_name= ''.join(char for char in var_name if char not in illegal_chars)
print(joined_var_name)

student_name

# Task15
Write a Python program to print the even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
    
Expected Output :
    
Number of even numbers : 2,4,6,8
    
Number of odd numbers : 1,3,5,7,9

In [74]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

even_numbers = []
odd_numbers = []

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

print("Number of even numbers:", ", ".join(map(str, even_numbers)))
print("Number of odd numbers:", ", ".join(map(str, odd_numbers)))

Number of even numbers: 2, 4, 6, 8
Number of odd numbers: 1, 3, 5, 7, 9

# Task16
Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

In [81]:
for number in range(1,51):
  if number % 3 ==0 and number % 5 == 0:
    print("FizzBuzz")
  elif number % 3 == 0:
    print("Fizz")
  elif number% 5 ==0:
    print("Buzz")
  else:
    print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

# Task17
After you have finished the second session, can you explain briefly what information was learned and also what information you learned through the search?

In [ ]:
#lists,tuples,play around their functions and which works on which in the sense of capability of doing certain calculations that are available in lists but not in others like sets..etc and why do we use sets,tuples over lists and vice versa.